name: Update hosts

on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v3.1.2

      - name: Install modules
        run: pip install dnspython

      - name: Resolve domains
        run: python resolve.py > hosts

      - name: Config bot
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Commit & Push back
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update hosts
